body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li,a{
  text-decoration: none;
}
li:hover{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}


.navbar1{
background-color: black;
color: cornsilk;
}
.navbar1-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.image{
  background:url("https://i.postimg.cc/tTkQPWgy/farms.jpg");
  background-repeat: no-repeat;
    background-size:cover;
    height: 480px;
    position: relative;
}
.heading{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 20%;
  display: flex;
  flex-direction: column;

}
.heading button{
  width: 60%;
}
.heading2{
  margin-top: 80px;
}
.imgcontainer{
  position: relative;
}
.img1{
  background:url('./images/farms.jpg'); 
  
   background-repeat: no-repeat;
  background-size:cover;
  position: absolute; 
  height: 200px;
  width: 100%;
  z-index: 9;
  }
.img2{
  background:url("https://i.postimg.cc/nzDX9yMq/nass-family-farms-us-ag-blog-012721.jpg");
   background-repeat: no-repeat;
  background-size:cover; 
  z-index: 10;
  position: absolute; 
  height: 100px;
  width: 200px;
  top: 150px;
  left:60%;
}
.box2{
  height: 100%;
  width: 100%;
}
.service{
  width: 100%;
  background-color: rgba(223, 207, 187, 0.925);
  text-align: center;
  margin-top: 100px;
}
.cards1{
 margin-top: 50px;
}
.image3{
  background:url("https://i.postimg.cc/PqqzY8fj/1200px-Farm-Kartoffelfeld-Schweden.jpg");
  background-repeat: no-repeat;
    background-size:cover;
    height: 480px;
    /* color:cadetblue;
    opacity: 0.9; */
    position: relative;
}
.heading3{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;

}
.pro2{
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}